<div class="row">
    <div class="col-md-6">  <h1><font color='#999999'> Git</font>hub <br>Profile <br><font color='#999999'>Eval</font>uator</h1>
    <img src="images/privateinvestocat.jpg" alt="I'm Yeoman" width='20%' height='20%'><br>
    </div>
    <form>
    <div class="input-group col-md-6 billo">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Enter a Username" ng-model="myInput" aria-describedby="basic-addon1"> <input type="submit" ng-click="doShit()" style="position: absolute; left: -9999px"/>
  </div></form>
</div>
{{myInput}}
  </div>
