@font-face{
  font-family:'Proxima Nova Semibold';
  src:url(fonts/ProximaNova-Sbold-webfont-063500858c86dd696024427d9d9ef3dd.eot);
  src:url(fonts/ProximaNova-Sbold-webfont-063500858c86dd696024427d9d9ef3dd.eot?#iefix) format("embedded-opentype"),
  url(fonts/ProximaNova-Sbold-webfont-1cda23ddf1b620e278ad1c95661a868e.woff) format("woff"),
  url(fonts/ProximaNova-Sbold-webfont-ca15d0371235b456893884476fd10838.ttf) format("truetype"),
  url(fonts/ProximaNova-Sbold-webfont-08b28532ce83169624497d45b962574a.svg#proxima_nova_ltsemibold) format("svg");
  font-weight:normal;
  font-style:normal
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body{
    height: 100%
}

body {
  padding: 0;
  background-color: #221e1f;
}

h1 {
  font-family: 'Proxima Nova Semibold';
  color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    margin-left: 5%;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.billo {
  margin-top: 20%;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}